:root {
    --violet: hsl(263, 55%, 52%);
    --dark-blue: hsl(219, 29%, 14%);
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 81%);
    --light-gray: hsl(210, 46%, 95%);
    --dark-gray: hsla(0, 0%, 0%, 0.122);
    --off-black: #111;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: barlow-semi-condensed;
    src: url(BarlowSemiCondensed-Regular.ttf);
}

html,
body {
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
    font-size: 13px;
    font-family: barlow-semi-condensed;
    background-color: var(--light-gray);
}

.main {
    padding: 4rem 3rem;
    /* padding: 2rem; */
    text-align: center;
    background-color: var(--light-gray);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    height: 100vh;
    grid-gap: 1rem;
    align-content: center;
}

.box {
    border: 1px solid var(--gray);
    border-radius: 0.6rem;
    color: var(--white);
    padding: 2rem;
    text-align: left;
    box-shadow: 0 8px 30px var(--dark-gray);
}

.box1 {
    background-color: var(--violet);
    grid-column: 1/3;
    grid-row: 1;
    background-image: url(bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 88% 0;
}

.box2 {
    background-color: var(--dark-grayish-blue);
    grid-column: 3;
    grid-row: 1;
}

.box3 {
    background-color: var(--white);
    grid-column: 4;
    grid-row: 1/3;
    color: var(--off-black);
}

.box4 {
    background-color: var(--white);
    grid-column: 1;
    grid-row: 2;
    color: var(--off-black);
}

.box5 {
    background-color: var(--dark-blue);
    grid-column: 2/4;
    grid-row: 2;
}

.pic {
    display: inline-flex;
    width: 100%;
}

.pic span {
    display: block;
}

.pic .name {
    margin-left: 1.5rem;
    align-self: center;
}

.name span {
    font-size: 11px;
    opacity: 50%;
}

.pic img {
    border: 1px solid var(--violet);
    border-radius: 100%;
}

.box .txt {
    font-weight: 600;
}

.box .txt2 {
    opacity: 70%;
    font-weight: 500;
}

@media (max-width: 1023px) {
    .body {
        width: 100%;
        height: 100vh;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .content {
        overflow: auto;
    }
}
